{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ***** Breadcumb Area Start ***** -->
<section class="breadcumb-area bg-img gradient-background-overlay"
         style="background-image: url({% static 'img/bg-img/breadcumb2.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">Hospitals</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Blog Area Start ***** -->
<section class="medilife-blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <!-- Single Blog Area -->
                    {% for hospital in hospitals %}
                    <div class="col-12 col-md-6">
                        <div class="single-blog-area bg-gray mb-50">
                            <!-- Post Thumbnail -->
                            <div class="blog-post-thumbnail">

                                <img src="{{ hospital.hospital_image.first.image.url }}" alt="Hospital Image">
                                <!-- Post Date -->
                                <div class="post-date">
                                    <a href="{% url 'hospital:hospital_detail' hospital.slug %}">{{ hospital.region }}</a>
                                </div>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <div class="post-author">
<!--                                    <a href="#"><img src="{% static 'img/blog-img/p1.jpg' %}" alt=""></a>-->
                                </div>
                                <a href="{% url 'hospital:hospital_detail' hospital.slug %}" class="headline">{{ hospital.name }}</a>
                                <p>{{ hospital.description }}</p>
                                <a href="{% url 'hospital:hospital_detail' hospital.slug %}" class="comments"> {{ hospital.phone }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="medilife-blog-sidebar-area">

                    <!-- Search Widget -->
                    <div class="search-widget-area mb-50">
                        <form action="#" method="get">
                            <input type="search" placeholder="Type Any Keywords">
                            <input type="submit" value="Search">
                        </form>
                    </div>

                    <!-- Catagories Widget -->
                    <div class="medilife-catagories-card mb-50">
                        <h5>Categories</h5>
                        <ul class="catagories-menu">
                            <li><a href="#">Radiology</a></li>
                            <li><a href="#">Cardiology</a></li>
                            <li><a href="#">Gastroenterology</a></li>
                            <li><a href="#">Neurology</a></li>
                            <li><a href="#">General surgery</a></li>
                        </ul>
                    </div>

                    <!-- Latest News -->
                    <div class="latest-news-widget-area mb-50">
                        <h5>Latest News</h5>
                        <div class="widget-blog-post">
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex align-items-center">
                                <div class="widget-post-thumbnail pr-3">
                                    <img src="media/img/blog-img/ln1.jpg" alt="">
                                </div>
                                <div class="widget-post-content">
                                    <a href="#">A big discovery for medicine</a>
                                    <p>Dec 02, 2017</p>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex align-items-center">
                                <div class="widget-post-thumbnail pr-3">
                                    <img src="media/img/blog-img/ln2.jpg" alt="">
                                </div>
                                <div class="widget-post-content">
                                    <a href="#">Dentistry for everybody</a>
                                    <p>Dec 02, 2017</p>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex align-items-center">
                                <div class="widget-post-thumbnail pr-3">
                                    <img src="media/img/blog-img/ln3.jpg" alt="">
                                </div>
                                <div class="widget-post-content">
                                    <a href="#">When it’s time to take pills</a>
                                    <p>Dec 02, 2017</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- medilife Emergency Card -->
                    <div class="medilife-emergency-card bg-img bg-overlay"
                         style="background-image: url(media/img/bg-img/about1.jpg);">
                        <i class="icon-smartphone"></i>
                        <h2>For Emergency calls</h2>
                        <h3>+12-823-611-8721</h3>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Pagination Area -->
                <div class="pagination-area mt-50">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">01</a></li>
                            <li class="page-item active"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog Area End ***** -->

{% endblock %}